.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.star-ratings-sprite {
  background: url("./images/star.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
}
.star-ratings-sprite-rating {
  background: url("./images/star.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
}

div.register-box h1,
div.register-box h2,
div.register-box h3,
div.register-box h4,
div.register-box h5
{
   color: white;
}
div.register-box p,
div.register-box span{
  color: white;
  font-weight: lighter;
}